$coffee-nav-bc: blue;
$coffee-jumbo-bc: orange;

#coffeeJumbo {
    background-color: $coffee-jumbo-bc;
}

// #coffeeNav {
//     background-color: $coffee-nav-bc;
// }

#footHead {
    font-weight: bold;
    border-bottom: 1px solid black; 
}

footer {
    background-color: black;
    color: white;
}